* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background-color: darkslateblue;
  padding: 20px;
}
h1 {
  display: flexbox;
  color: white;
  text-align: center;
}
#searchsec {
  margin-left: 20px;
  padding-left: 20px;
  float: left;
  width: 20%;
}
#searchsec input[type="text"] {
  float: none;
  display: block;
  margin: 0;
  padding: 5px;
  font-size: medium;
  text-align: left;
  width: 100%;
}
#searchbut {
  background-color: deepskyblue;
  color: white;
}
button {
  background-color: deepskyblue;
  border: none;
  color: black;
  background-color: gray;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.RightDis {
  margin-right: 20px;
  float: right;
  width: 70%;
}
#Displaybox {
  height: 300px;
  border: 2px solid black;
  font-size: larger;
}
td {
  color: white;
  background-color: green;
  padding: 10px;
}
